In [1]:
import re

text = "That person wears marvelous trousers."

pattern = '[A-z]'
pattern = 'That'
pattern = '[That]'
pattern = '[atsdhksdgs]'
re.findall(pattern, text)

text = "This is an A and B conversation, so C your way out of it."
pattern = '[^A-z]'
re.findall(pattern, text)

[' ', ' ', ' ', ' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '.']

In [2]:
text = "The complicccccat caat interacted with the other cats exactly as we expected."
pattern = "c*t"
print(re.findall(pattern, text))

text = "The complicit caat interacted with the other cats exactly as we expected."
pattern = 'c*a*t'
print(re.findall(pattern, text))


text = "The complicit caaaat ct interacted with the other cats exactly as we expected."
pattern = "a+"
print(re.findall(pattern, text))
# Returns matches where the previous character appears 1 or more times


text = "We can match the following: aaaawwww, aww, awww, awwww, awwwww"
pattern = "aw{3}"
print(re.findall(pattern, text))

text = "Let's see how we can match the following: aaw, aaww, aawww, awwww, awwwww"
pattern = "aw{1,}"
print(re.findall(pattern, text))

pattern = "a{2,}w{2,}"
print(re.findall(pattern, text))

['aaaa', 'a', 'a', 'a', 'a']
['awww', 'awww', 'awww', 'awww']
['aw', 'aww', 'awww', 'awwww', 'awwwww']
['aaww', 'aawww']

In [3]:
import re
text = "That person wears marvelous trousers."
pattern = 'er'
pattern = '[er]'
re.findall(pattern, text)

['e', 'r', 'e', 'r', 'r', 'e', 'r', 'e', 'r']

In [4]:
text = "Is it spelled gray or grey?"
# text = "Is it spelled gry or grey?"
pattern = 'gr[ae]y'
re.findall(pattern, text)

['gray', 'grey']

In [5]:
text = '''TKerraPower, A nuclear-energy company founded by Bill Gates,
        is unlikely to follow through on building a demonstration reactor in China,
        due largely to the Trump administrationï¿½s crackdown on the country'''

pattern = '[A-Z][a-z]*'
# pattern = '[A-z]+'
pattern = '[A-Z][a-z]+'
print(re.findall(pattern, text))

['Kerra', 'Power', 'Bill', 'Gates', 'China', 'Trump']

\w: Any alphanumeric character.
\W: Any non-alphanumeric character.
\d: Any numeric character.
\D: Any non-numeric character.
\s: Any whitespace characters.
\S: Any non-whitespace characters.

In [6]:
text = "If you tell the truth, you don't have to remember anything 100."

pattern = '\w'
pattern = '\w+'
pattern = '\w*'
# pattern = '\w?'
# pattern = '.'
print(re.findall(pattern, text))

['If', '', 'you', '', 'tell', '', 'the', '', 'truth', '', '', 'you', '', 'don', '', 't', '', 'have', '', 'to', '', 'remember', '', 'anything', '', '100', '', '']

In [7]:
text = "If you tell the truth, you don't have to remember anything 100."
pattern = '\w{4}'
pattern = '\w{4,}'
print(re.findall(pattern, text))

['tell', 'truth', 'have', 'remember', 'anything']

In [8]:
text = """
Aeromexico 800 -237- 6639
Air Canada 888-247-2262
Air Canada Rouge 888-247-2262
Air Creebec 800-567-6567
Air Inuit 800-361-2965
Air North 800-661-0407
Air Tindi 888-545-6794"""
pattern = '\d+-\d+-\d+'
re.findall(pattern, text)

['888-247-2262',
 '888-247-2262',
 '800-567-6567',
 '800-361-2965',
 '800-661-0407',
 '888-545-6794']

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv('unit4.csv')
data.head()

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,...,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,,3712,XXXX,,F,T2,NaN,,479,...,,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,...,,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,,0,XXXX,,M,R2,3.0,U,497,...,,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,,2801,XXXX,,F,R2,1.0,U,1000,...,,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,,2001,XXXX,X,F,S2,3.0,H,576,...,,113,43,10,25,9702,L2F,37,14.0,6.864865

In [10]:
# to check the number of clients for which this info is missing
len(data[data['DOB']==0])

22507

In [11]:
import re
def year(x):
    x = str(x)
    if len(x)<4:
        return np.nan
    else:
        pattern = '\d\d'
        yr = re.findall(pattern,x)[0]
        return int(yr)

In [ ]:
data['year'] = list(map(year, data['DOB']))
data['year'] = 97 - data['year']

data['year'] = data['year'].fillna(np.mean(data['year']))

# Now we can drop the column DOB as we have extracted the information we need from this column
data = data.drop(['DOB'], axis=1)