In [1]:
import scipy.stats
import pandas as pd

In [4]:
data = pd.read_csv('machine.csv', sep= ';')

In [5]:
data.columns = ['new','old']

In [8]:
data.head(20)

    new   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [7]:
scipy.stats.ttest_ind(data['new'],data['old'],equal_var=True, alternative = 'less')

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0016055712503872579)

In [2]:
print(scipy.__version__)

1.6.1

In [9]:
scipy.var(data['new'])

<ipython-input-9-a96cb03b2e0b>:1: DeprecationWarning: scipy.var is deprecated and will be removed in SciPy 2.0.0, use numpy.var instead
  scipy.var(data['new'])

0.4204000000000012

In [10]:
scipy.var(data['old'])

<ipython-input-10-efb12a21e44e>:1: DeprecationWarning: scipy.var is deprecated and will be removed in SciPy 2.0.0, use numpy.var instead
  scipy.var(data['old'])

0.5060999999999988